@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lato", sans-serif;
  }
}

:root {
  --hex-width: 200px;

  --hex-height: calc(var(--hex-width) / 1.73);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73);
}
.hexagon {
  height: var(--hex-height);
  margin: var(--hex-border) 0;
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin);
  border-right: var(--hex-margin);
}
.hexagon::after {
  border-top: var(--hex-border);
}
.hexagon::before {
  border-bottom: var(--hex-border);
}
