@import url('../common/fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Lato', sans-serif;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .slider-delay {
    animation-delay: 5s;
  }
}
